.steps {
  display: flex;
  flex-direction: row;
}
h3 {
  font-size: 2px;
  color: #FF165D;
  display: flex;
  flex-direction: column;
}
.button {
  background-color: #FF9A00;
  width: 35%;
  height: 20%;
  color: blanchedalmond;
}
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
header {
  background-color: #FF9A00;
  width: 100%;
  padding: 20px;
  text-decoration: none;
}
ul {
  width: 70%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
ul li a {
  text-decoration: none;
  color: #F6f7d7;
}
.top-content {
  margin-top: 10%;
  width: 75%;
}
.cashpic {
  margin-left: 25%;
  width: 100%;
}
.top-content h1 {
  margin-left: 30%;
  margin-top: 9px;
  font-size: 35px;
  margin-bottom: 20%;
  font: 'Oswald', sans-serif;
  color: #ff165d;
  justify-content: center;
}
h2 {
  font-size: 35px;
  color: #ff165d;
}
h3 {
  color: #F6f7d7;
}
.Steps {
  margin-top: 10%;
  margin-bottom: 10%;
  display: flex;
  flex-direction: row;
  justify-items: space-evenly;
  width: 100%;
}
.Steps .box {
  color: black;
  display: flex;
  flex-direction: column;
  background-color: #FF9A00;
  font-size: 17px;
  padding: 60px;
  margin-left: 5%;
  margin-right: 5%;
  width: 100%;
}
.middle-content {
  font: 'Oswald', sans-serif;
  display: flex;
  word-wrap: column;
  text-align: center;
  font-size: 24px;
  width: 65%;
  margin-left: 20%;
}
button {
  padding: 5%;
  display: flex;
  flex-direction: center;
  justify-content: center;
  margin-left: 25%;
  font-size: 1.6rem;
  text-decoration: none;
}
button {
  background-color: #ff165d;
  width: 50%;
  color: #F6f7d7;
  border-color: #FF9A00;
  border-radius: 25px;
  margin-bottom: 9px;
  margin-top: 9px;
}
footer {
  background-color: #ff165d;
  width: 100%;
}
footer li {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
  color: #F6f7d7;
}
footer a {
  align-content: center;
  width: 100%;
}
@media (min-width: 500px) {
  header {
    background-color: #F6f7d7;
  }
  header li a {
    color: #ff165d;
  }
  .box {
    display: flex;
    flex-direction: column;
    background-color: #FF9A00;
  }
  .threeSteps,
  h2 {
    color: #FF9A00;
  }
  .middle-content h2 {
    font-size: 1.4rem;
  }
  .arrow {
    display: none;
  }
}
@media (min-width: 1000px) {
  header {
    background-color: #ff165d;
  }
  header li a {
    color: #F6f7d7;
  }
  .Steps .box {
    display: Flex;
    justify-content: center;
  }
  .top-content {
    display: flex;
    flex-direction: center;
  }
}
@media (min-width: 800px) {
  .box {
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
    color: #F6f7d7;
    text-align: center;
    font-size: 25px;
  }
  .Steps {
    width: 40%;
    height: 45;
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 25%;
  }
}
.contact {
  text-align: center;
  justify-content: center;
}
h4 {
  font-size: 32px;
  color: #FF9A00;
}
h5 {
  font-size: 25px;
  color: #FF9A00;
}
.web {
  margin-bottom: 20px;
}
