// Variables 
@width: 100%;
@mrginbottom: 20px;
@mainColor: #FF9A00;
@Color2: #ff165d;
@mainFont:  'Oswald', sans-serif;
@boxFontSize:  5px;
@media(max-width: 500px){}; 
@media(max-width: 800px){};
@media(max-width: 1000px){};
// Variables end//

// mixins 
.steps{
  display: flex;
  flex-direction: row;
}
h3{
  font-size: 2px; 
  color: #FF165D;
  display: flex;
  flex-direction: column;
}
.button{
  background-color: @mainColor;
  width: 35%;
  height: 20%;
  color: blanchedalmond;
  }
// mixins ends//

//Reset
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
// reset ends//


//navigation
 header {
  background-color: @mainColor;
  width: @width;
  padding: 20px;
  text-decoration: none;
}
ul{
  width:70%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
 
  li a{
    text-decoration: none;
    color: #F6f7d7;
  }
}
//nav ends//
.top-content{
    margin-top: 10%;
    width: 75%;
    display: flex;
    flex-direction: column;
}
.top-content h1{
  margin-left: 30%;
  margin-top: 9px;
  font-size: 35px;
  margin-bottom: 20%;
  font: @mainFont;
  color: @Color2;
}
 h2{
    font-size: 35px;
    color: @Color2;
  }
  
 .cashpic img{
  margin-left: 45%;
}
  

.Steps{
  margin-top: 10%;
  margin-bottom: 10%;
  display: flex;
  flex-direction: row;
  justify-items: space-between;
  width: @width;

  .box{
    color: black;
    display: flex;
    flex-direction: column;
    background-color: @mainColor;
    font-size: 17px;
    padding: 60px;
    margin-left: 5%;
    margin-right: 5%;
    width: @width;
 } 
}

.middle-content{
 font: @mainFont;
 display: flex;
 word-wrap:column;
 text-align: center;
 font-size: 24px;
 width: 65%;
 margin-left: 20%;
}
 button{
 padding: 5%;
 display: flex;
 flex-direction: center;
 justify-content: center;
 margin-left: 25%;
 font-size: 1.6rem;
 text-decoration: none;
}

button{
  background-color: @Color2;
  width: 50%;
  color: #F6f7d7;
  border-color: @mainColor;
  border-radius: 25px;
  margin-bottom: 9px;
  margin-top: 9px;
  }

  footer{
    background-color: @Color2;
    width: @width;
  }

   footer li {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    color:#F6f7d7;
   }
   footer a{
     align-content: center;
     width: @width;
   }
  // @media begins//

@media (min-width: 500px) {

  header{
    background-color: #F6f7d7;
  }

   header li a{
    color: @Color2;
  }


  .box {  
    display: flex;
    flex-direction: column;
    background-color: @mainColor; 
  }

  .threeSteps, h2{
    color: @mainColor;
  }
  .middle-content h2{
    font-size: 1.4rem;
  }
  .arrow{
   display: none;
 }
}
//meadida for 500px ends//

@media(min-width: 1000px){
  header{
    background-color: @Color2;
    li a{
    color: #F6f7d7;
    }
  }
  .Steps .box{
    background-color: black;
    display: Flex;
    justify-content: center;
  }
  .top-content{
    display: flex;
  flex-direction: center;

  }
}
// media for 1000px ends//

// media 800px Begins//
@media(min-width: 800px){
  .box{
    display: flex;
    flex-direction: column;
  }
  
  body{
    align-items: column;
  }
}

// media for 800px ends//

// About Us page//
h4{
  font-size: 32px;
  color: @mainColor;
}
h5{
  font-size: 25px;
  color: @mainColor;
}
.web{
  margin-bottom: @mrgin-bottom;
}

// contact page//
