@width: 20px;
@height: 15px;
@mainColor: #F6F7D7;
@mainFont:  'Oswald', sans-serif;
@boxFontSize:  2px;
@mrginbottom: 25px;

@media(max-width: 500px){};
@media(max-width: 800px){};
@media(max-width: 1000px){};
   
